* {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    box-sizing: border-box;
}

body {
    background-color: #BCD3BF;
    margin-top: 200px;
    width: 100%;  
}

h3 {
    font-size: xx-large;
    text-align: center;
}
h4 {
    font-size: x-large;
    margin-bottom: 0px;

}

.omoss {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.item{
    display: flex;
    align-items: center;
    width: 80%;
    margin: 20px 0;
    justify-content:center;
}

.left {
    flex-direction: row;
}

.right {
    flex-direction: row-reverse;
}

.bilde {
    max-width: 400px;
    border: 7px solid #FFCE81;
    margin-right: 10px;
    margin-left: 10px;
}

.image-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-right: 10px;
}

.gulboks {
    flex: 1;
    border: 2px solid #FFCE81;
    background-color: #FFCE81;
    color: black;
    padding: 40px 30px 40px 30px;
    max-width: 70%; 
    
    
} 

.center-box {
    text-align: center; 
    background-color: #FFCE81; 
    padding: 10px;
    border: 2px solid #FFCE81;
    max-width: 70%; 
    margin: 0 auto; 
}

/*Container for the whole homepage*/
.homepage {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

/*Container for main text/heading of the page*/
.center-box-homepage {
    text-align: center; 
    background-color: #FFCE81; 
    padding: 10px;
    border: 2px solid #FFCE81;
    margin: 0 auto; 
    width: 80%;
}
/*Container for all the rest of the content on the page*/
.homepage-innhold{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 20px;
    width: 80%;
    
}
/*Container for the slideshow as a whole*/
.slides-homepage{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 55%;
    border: solid #FFCE81;
    border-width: thick;
    background-color: #FFCE81;
    padding-top: 1.5%;
}
/*Container for the slides*/
.mySlides {
    display: none;
}
/*container for the next and previous arrows*/
.prev, .next {
    cursor: pointer;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
/*backroundcolor changes when you hover over the arrow*/
.prev:hover, .next:hover {
    background-color: #BCD3BF;
}




.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100;
    margin: 0px auto;
    text-align: center;
    align-items: center;
    left: 0;
    right: 0;
    top: 0; 
    z-index: 9999;
    padding: 10px;
    box-sizing: border-box;
    background-color: #FFCE81;
    border: 2px solid #FFCE81;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100;
    margin: 0px auto;
    text-align: center;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 9999;
    padding: 10px;
    box-sizing: border-box;
    background-color: #FFCE81;
    border: 2px solid #FFCE81;
}

/*Container for the dots at the bottom of the image one can shift images with*/
.dot{
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 0 2px;
    background-color: #BCD3BF;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #FFF6E9;
}

/*Container to ensure dots is under picture*/
.sl{
    display:flex;
    flex-direction: column;
}

/*Container for the text next to the slideshow*/
.text-homepage {
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 40%;
    background-color: #FFCE81;
    text-align: center;
    align-self: stretch; 
    border: solid #FFCE81;
    border-width: thick;
}

