* {
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
}

body {
    margin-top: 200px; /*La til for at alt skal komme under headeren*/
    background-color: #BCD3BF 
}

.omoss {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.item{
    display: flex;
    align-items: center;
    width: 50%;
    margin: 20px 0;
    justify-content: center;
}

.left {
    flex-direction: row;
}

.right {
    flex-direction: row-reverse;
}

.bilde {
    max-width: 100px;
    border: solid #FFCE81;
    margin-right: 10px;
    margin-left: 10px;
}

.gulboks {
    flex: 1;
    border: 2px solid #FFCE81;
    padding: 5px;
    max-width: 300px; 
    background-color: #FFCE81;
    color: black;
  }

h3 {
    text-align: center;
}

.center-box {
    text-align: center; 
    background-color: #FFCE81; 
    padding: 10px;
    border: 2px solid #FFCE81;
    max-width: 400px; 
    margin: 0 auto; 
}


.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: auto;
    margin: 0px auto;
    align-items: center;
    text-align: center;
    left: 0;
    right: 0;
    top: 0;
    z-index: 9999;
    padding: 10px;
    box-sizing: border-box;
    background-color: #FFCE81;
    border: 2px solid #FFCE81;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: auto;
    margin: 0px auto;
    text-align: center;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 9999;
    padding: 10px;
    box-sizing: border-box;
    background-color: #FFCE81;
    border: 2px solid #FFCE81;
}